
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4"><br>Student Management System</h1>
            </div>
                <div class="col-md-8">
                    <form action="/student_course" method="post">
                        <br>
                        <pre>Student ID       <input type="text" name="sid" required/><br></pre>
                        <pre>Course ID        <input type="text" name="cid" required/><br></pre>
                        <pre>Semester         <input type="text" name="sem" required/><br></pre>
                        <button type="submit">Assign Course</button>
                    </form>
                </div>
            </div>
    </body>

</html>
